In [112]:
import re

In [113]:
records = "555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"

In [114]:
#sanity check
records

'555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert'

## Task1. Extract the names of each individual from the unformatted text string and store them in a vector of some sort. When complete, your vector should contain the following entries: "Moe Szyslak" "Burns, C. Montgomery" "Rev. Timothy Lovejoy" "Ned Flanders" "Simpson, Homer" "Dr. Julius Hibbert"

In [115]:
a = re.split('-?\(?\d+\)?-?\d+-?\d+\)?', records) #splitting the string by regex to have only the names.

In [116]:
a

['',
 'Moe Szyslak',
 ' ',
 'Burns, C. Montgomery',
 ' ',
 'Rev. Timothy Lovejoy',
 ' ',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

In [117]:
b = [x for x in a if x != ' ' and x != ''] #extracting only the names

In [118]:
#Task 1 answer:
b

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

In [119]:
b[0]

'Moe Szyslak'

In [120]:
b[5]

'Dr. Julius Hibbert'

In [121]:
b[1]

'Burns, C. Montgomery'

In [122]:
len(b)

6

## Task2. Using your new vector containing only the names of the six individuals, complete the following tasks:

## a. Use your regex skills to rearrange the vector so that all elements conform to the standard "firstname lastname", preserving any titles(e.g., "Rev", "Dr", etc) or middle/second names.

In [123]:
#sanity check
b

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

In [124]:
b[1] #b[1] needs to be rearranged.

'Burns, C. Montgomery'

In [125]:
b[4] #b[4] needs to be rearranged.

'Simpson, Homer'

In [126]:
re.findall('\w+', b[1]) #finding at least 1 alphanumeric character in the string.

['Burns', 'C', 'Montgomery']

In [127]:
re.findall('\W+', b[1]) #finding at least 1 non-alphanumeric character.

[', ', '. ']

In [128]:
c = b[1]
d = re.sub(r'(\w+)(\W+)(\w+)(\W+)(\w+)', r'\3\4\5 \1', c) #grouping by parentheses and then rearranging them.
print(d)
b[1] = d #assigning b[1] to d which is rearranged string.

C. Montgomery Burns

In [129]:
b

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

In [130]:
b[4] #b[4] needs to be rearranged as well.

'Simpson, Homer'

In [131]:
re.findall('\w+', b[4]) #\w: finding any character. The + mandates at least 1 character.

['Simpson', 'Homer']

In [132]:
re.findall('\W+', b[4]) #\W: finding anything but a character. The + mandates at least 1.

[', ']

In [133]:
e = b[4]
f = re.sub(r'(\w+)(\W+)(\w+)', r'\3 \1', e) #grouping by using parentheses and rearranging them.
print(f)
b[4] = f #assigning b[4] to f which is rearranged string.

Homer Simpson

In [134]:
#Task2-a answer.
b

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

## b. Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.).

In [135]:
#sanity check
b

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

In [136]:
title_list = []
for y in b:
    if y.startswith('Rev.'): #extracting the string that starts with "Rev."
        title_list.append('True') 
    elif y.startswith('Dr.'): #extracting the string taht starts with "Dr."
        title_list.append('True')
        
    else:
        title_list.append('False')
        
print(title_list) #Task2-b answer.

['False', 'False', 'True', 'False', 'False', 'True']

In [137]:
title_list #Task2-b answer: Rev. Tiothy Lovejoy and Dr. Julius Hibbert have a title.

['False', 'False', 'True', 'False', 'False', 'True']

## c. Construct a logical vector indicating whether a character has a middle/second name.

In [138]:
#sanity check
b

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

In [139]:
middle_list = []

for z in b:
    name_arr = z.split(" ") #splitting the strings by space
    print(name_arr)
  
    
    if len(name_arr) > 2: 
        if name_arr[0] != 'Rev.' and name_arr[0] != 'Dr.':
            middle_list.append('True')
        else:
            middle_list.append('False')
    else:
        middle_list.append('False')
    
    

print(middle_list) #Task2-c answer.

['Moe', 'Szyslak']
['C.', 'Montgomery', 'Burns']
['Rev.', 'Timothy', 'Lovejoy']
['Ned', 'Flanders']
['Homer', 'Simpson']
['Dr.', 'Julius', 'Hibbert']
['False', 'True', 'False', 'False', 'False', 'False']

In [140]:
middle_list #Task2-c answer: only C. Montgomery Burns has middle name.

['False', 'True', 'False', 'False', 'False', 'False']

## Taks3.  Consider the HTML string <title\>+++BREAKING NEWS+++<title\>.We would like to extract the first HTML tag(i.e., "<title\>". To do so we write the regular expression "<.+>". Explain why this fails and correct the expression.

In [141]:
string = "<title>+++BREAKING NEWS+++<title>"

In [142]:
#sanity check
string

'<title>+++BREAKING NEWS+++<title>'

In [143]:
re.search("<.+>", string)

In [144]:
re.findall("<.+>", string)

['<title>+++BREAKING NEWS+++<title>']

In [145]:
re.match("<.+>", string)

- The regex <.+> fails to extract the first HTML tag, because the default behavior of regex <.+> is to be greedy. This means it tries to extract as much as possible until it conforms to a pattern even when a smaller part would have been syntactically sufficient. That is why the given regex extracted the whole string instead of matching till the first occurrence of ">". This is the default greedy or "take it all" behavior of regex. To fix this problem, we make the behavior of regex as lazy matching, which means "takes as little as possible". This can be done by adding a "?"(question mark) at the end of the pattern.

In [146]:
re.findall('<.+?>', string)

['<title>', '<title>']

- Task3 answer: by using the regex "<.+?>", I can extract the "<title\>", but to extract the first "<title\>" only, I can use "search" method instead of "findall" method, as below.

In [147]:
re.search('<.+?>', string)

In [148]:
#Task3. answer

re.search('<.+?>', string).group()

'<title>'

## Task4. Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract the formula in the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

In [149]:
s = "(5-3)^2=5^2-2*5*3+3^2"

In [150]:
re.search("[^0-9=+*()]+", s)

In [151]:
matched = re.match("[^0-9=+*()]+", s)

In [152]:
print(matched)

None

In [153]:
re.findall("[^0-9=+*()]+", s)

['-', '^', '^', '-', '^']

- The given regex "[^0-9=+\*()]+" fails to extract the formula in the string, because there are special characters inside the bracket, such as "^", "*", "()". We need to escape these special characters with a back-slash to extract the formula as below.

In [154]:
# just trying a different regex to extract the formula
re.findall("\([0-9]-[0-9]\)\^[0-9]\=[0-9]\^[0-9]-[0-9]\*[0-9]\*[0-9]\+[0-9]\^[0-9]", s)

['(5-3)^2=5^2-2*5*3+3^2']

In [155]:
#Task4 answer.

re.findall("[\^0-9-=+*()]+", s)

['(5-3)^2=5^2-2*5*3+3^2']

- I added a back-slash '\' in front of the '^' inside the bracket, to escape a special character. Also, I added '-'(minus sign) after '0-9' to extract the '-' in the formula as well. It extracted the formula correctly as above.